set nocompatible               " be iMproved "
filetype off                   " required! "
set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" let Vundle manage Vundle "
" required! "

Plugin 'VundleVim/Vundle.vim'
Plugin 'ctrlpvim/ctrlp.vim'
Plugin 'scrooloose/nerdtree'

Plugin 'airblade/vim-gitgutter'

Plugin 'comments.vim'
Plugin 'ack.vim'

filetype plugin indent on     " required! "
